<div class="wrapper">
  @if (feature(); as _feature) {
    <div class="header">
      <h2>{{ _feature.title }}</h2>
      <div class="actions">
        @switch (mode()) {
          @case ('view') {
            <a
              tuiButton
              size="s"
              appearance="secondary"
              [routerLink]="[]"
              [queryParams]="{ mode: 'graph' }"
              queryParamsHandling="merge"
            >
              <tui-icon icon="@tui.waypoints" /> Зависимости
            </a>
            @if (!readOnly()) {
              <a
                size="s"
                tuiButton
                [routerLink]="[]"
                [queryParams]="{ mode: 'edit' }"
                queryParamsHandling="merge"
              >
                <tui-icon icon="@tui.pencil" />Редактировать
              </a>
            }
          }
          @case ('edit') {
            <a
              size="s"
              appearance="secondary"
              tuiButton
              [routerLink]="[]"
              [queryParams]="{ mode: 'view' }"
              queryParamsHandling="merge"
            >
              Отменить
            </a>
            <button size="s" tuiButton [disabled]="!hasChanges()" (click)="saveChanges()">
              Сохранить
            </button>
          }
          @case ('compare') {
            <a
              size="s"
              tuiButton
              [routerLink]="[]"
              [queryParams]="{ mode: 'view' }"
              queryParamsHandling="merge"
              >Выйти из сравнения</a
            >
          }
          @case ('graph') {
            <a
              size="s"
              tuiButton
              [routerLink]="[]"
              [queryParams]="{ mode: 'view' }"
              queryParamsHandling="merge"
              >Выйти из зависимостей</a
            >
          }
        }
      </div>
    </div>
    <div class="details"></div>
    <div class="details">
      <div>
        <b>Код:</b>
        <tui-copy>
          {{ _feature.code }}
        </tui-copy>
      </div>
      <feature-history-selector
        [featureCode]="_feature.code"
        [value]="compareWith()"
        (valueChange)="onCompareWithChange($event)"
      />
    </div>
    @switch (mode()) {
      @case ('compare') {
        @if (compareWith(); as _compareWith) {
          <div class="content">
            <tui-scrollbar>
              <feature-compare [feature]="_feature" [origin]="_compareWith" />
            </tui-scrollbar>
          </div>
        }
      }
      @case ('edit') {
        <div class="editor">
          <feature-editor #editor [featureCode]="_feature.code" (canClose)="enterView()" />
        </div>
      }
      @case ('graph') {
        <div class="content">
          <graph [project]="project()" [featureCode]="_feature.code" />
        </div>
      }
      @case ('view') {
        <div class="content">
          <tui-scrollbar>
            <feature-content [feature]="_feature" />
          </tui-scrollbar>
        </div>
      }
    }
  } @else {
    <div class="nothing">ничего не выбрано</div>
  }
</div>
