:host {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: var(--tui-background-neutral-1);
  height: 100%;
}

.wrapper {
  height: 100%;
}

.header {
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .action {
    display: flex;
    gap: 0.6rem;
  }
}

.details {
  padding: 1em 2em;
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
  align-items: center;
  justify-content: space-between;
}

.content {
  padding: 1em 2em;
  overflow: hidden;
  flex-grow: 1;
}
