:host {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: var(--tui-background-neutral-1);
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  flex: 0 0 auto;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .actions {
    display: flex;
    gap: 0.6rem;
  }
}

.details {
  flex: 0 0 auto;
  padding: 1em 2em;
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
  align-items: center;
  justify-content: space-between;
}

.content {
  flex: 1 1 auto;
  overflow-y: hidden;
  min-height: 0;
}

feature-content {
  margin: 0 2em;
}

.editor {
  margin: 0 2em;
  flex: 1 1 auto;
  overflow-y: hidden;
  min-height: 0;
}

.nothing {
  margin: 1em 2em;
}