<h3>
  @if (!editing()) {
    {{ title }}
    <button
      appearance="icon"
      iconStart="@tui.pencil"
      size="xs"
      tuiIconButton
      type="button"
      class="tui-space_left-1"
      (click)="toggleEditing()"
    >
      Редактировать
    </button>
  } @else {
    <tui-input-inline>
      Введите название группы
      <input
        tuiAutoFocus
        [(ngModel)]="title"
        (blur)="onBlur()"
        (keydown.enter.prevent)="toggleEditing()"
      />
    </tui-input-inline>
  }
</h3>

@for (assert of group().assertions; track assert.title) {
  <assert [assertion]="assert" />
}
