<section class="tree-container">
  @if (projectSnapshotResource.hasValue()) {
    <div class="nav-container">
      <nav-controls
        [projectSnapshot]="projectSnapshotResource.value()"
        (featureCodes)="setFeatureCodes($event)"
        (activeTreeChange)="setActiveTree($event)"
      />

      @if (activeTree(); as _activeTree) {
        <feature-tree [tree]="_activeTree" />
      } @else {
        <feature-list [featureCodes]="featureCodes()" />
      }
    </div>
    <div class="feature-container"></div>
  }
</section>

<section class="content">
  <feature-content [feature]="activeFeature()"/>
</section>
