<div class="item" (click)="toggleExpanded()">
  <div class="title">
    @if (expanded()) {
      <tui-icon [style.font-size.px]="16" icon="@tui.chevron-down" />
    } @else {
      <tui-icon [style.font-size.px]="16" icon="@tui.chevron-right" />
    }
    <span [class]="node().gitStatus">
      {{ node().valueTitle ?? node().valueCode }}
    </span>
  </div>
  <div class="suffix">
    @if (node().totalCount > 0) {
      <span class="counters" [class.zero]="node().automatedCount === 0">
        {{ node().automatedCount }} / {{ node().totalCount }}
      </span>
    }
    <div class="status" [class]="node().gitStatus"></div>
  </div>
</div>
<div class="children" [class.expanded]="expanded()">
  @if (expanded()) {
    @for (childNode of node().children; track childNode.valueCode) {
      <feature-tree-node [node]="childNode" />
    }
    @for (featureCode of node().features; track featureCode) {
      <feature-item [featureCode]="featureCode" />
    }
  }
</div>
