<div class="item" (click)="toggleExpanded()">
  <div class="title">
    @if (expanded()) {
      <tui-icon [style.font-size.px]="16" icon="@tui.chevron-down" />
    } @else {
      <tui-icon [style.font-size.px]="16" icon="@tui.chevron-right" />
    }
    <span [class]="node().gitStatus">
      {{ node().valueTitle ?? node().valueCode }}
    </span>
  </div>
  <div class="suffix">
    @if (node().totalCount > 0) {
      <div class="counters">
        <span tuiHint="Автоматизировано" tuiHintAppearance="floating"> {{ node().automatedCount }} / </span>
        @if (node().counters.skipped) {
          <span class="skipped" tuiHint="Пропущено" tuiHintAppearance="floating"> {{ node().counters.skipped }} / </span>
        }
        @if (node().counters.failed) {
          <span class="failed" tuiHint="Провалено" tuiHintAppearance="floating"> {{ node().counters.failed }} / </span>
        }
        <span tuiHint="Всего" tuiHintAppearance="floating">
          {{ node().totalCount }}
        </span>
      </div>
    }
    <div class="status" [class]="node().gitStatus"></div>
  </div>
</div>
<div class="children" [class.expanded]="expanded()">
  @if (expanded()) {
    @for (childNode of node().children; track childNode.valueCode) {
      <feature-tree-node
        [node]="childNode"
        [nodePath]="nodePath() + '/' + childNode.valueCode"
        [expandedNodes]="expandedNodes()"
        (expandedChange)="expandedChange.emit($event)"
      />
    }
    @for (featureCode of node().features; track featureCode) {
      <feature-item [featureCode]="featureCode" />
    }
  }
</div>
