:host {
  display: flex;
  flex-direction: column;
}
.children {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  overflow-y: hidden;
  border-left: var(--tui-border-normal) 1px solid;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4rem;

  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background: var(--tui-background-neutral-1-hover);
  }
}

.title,
.suffix {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.2rem;
  align-items: center;
}

.modified {
  color: var(--tui-status-warning);
}
.untracked {
  color: var(--tui-text-positive);
}

.counters {
  white-space: nowrap;
  font: var(--tui-typography-body-xs);
  color: var(--tui-text-secondary);
  &.zero {
    color: var(--tui-text-negative);
  }
}

.status {
  border-radius: 50%;
  &.modified {
    width: 0.4rem;
    height: 0.4rem;
    background-color: var(--tui-status-warning);
  }
  &.untracked {
    width: 0.4rem;
    height: 0.4rem;
    background-color: var(--tui-text-positive);
  }
}
