@if (isMissing()) {
  Отсутствует название
} @else {
  @if (feature(); as _feature) {
    <div class="title">
      @if (hasAsserts()) {
        <tui-icon [style.font-size.px]="16" icon="@tui.table-of-contents" />
      } @else {
        <tui-icon [style.font-size.px]="16" icon="@tui.file-text" />
      }
      <span [class]="_feature.gitStatus">
        {{ _feature.title }}
      </span>
    </div>

    <div class="suffix">
      @if (totalCount() > 0) {
        <div class="counters">
          <span tuiHint="Автоматизировано" tuiHintAppearance="floating">
            {{ automatedCount() }} /
          </span>
          @if (skippedCount()) {
            <span class="skipped" tuiHint="Пропущено" tuiHintAppearance="floating">
              {{ skippedCount() }} /
            </span>
          }
          @if (failedCount()) {
            <span class="failed" tuiHint="Провалено" tuiHintAppearance="floating">
              {{ failedCount() }} /
            </span>
          }
          <span tuiHint="Всего" tuiHintAppearance="floating">
            {{ totalCount() }}
          </span>
        </div>
      }
      <span class="status" [class]="_feature.gitStatus">
        {{ gitStatusToLetter(_feature.gitStatus) }}
      </span>
    </div>
  } @else {
    Загрузка...
  }
}
