:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4rem;

  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background: var(--tui-background-neutral-1-hover);
  }

  &.active {
    color: var(--tui-text-primary-on-accent-1);
    background: var(--tui-background-accent-1);
    &:hover {
      background: var(--tui-background-accent-1-hover);
    }
  }
}

.title,
.suffix {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.2rem;
}

.counters {
  white-space: nowrap;
  font: var(--tui-typography-body-xs);
  color: var(--tui-text-secondary);

  .skipped {
    color: var(--tui-status-warning);
  }
  .failed {
    color: var(--tui-text-negative);
  }
}

.status {
  font: var(--tui-typography-body-xs);
}

.modified {
  color: var(--tui-status-warning);
}
.untracked {
  color: var(--tui-text-positive);
}
